// =============================================================================
// LESS Configuration Settings and Variables
// =============================================================================

@support-ie6: true;
@support-ie7: true;

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

@color-bg-body: #ececec;
@color-bg-main: #fff;



// -----------------------------------------------------------------------------
// Font Families
// -----------------------------------------------------------------------------

@serif: Georgia, serif;
@sans: "Segoe UI", "Lucida Sans Unicode", Arial, sans-serif;
@mono: Consolas, "Courier New", monospace;





// -----------------------------------------------------------------------------
// Layout Dimensions
// -----------------------------------------------------------------------------

@section-padding-sides: 1em;
@section-padding-topandbottom: 1.5em;
@section-outer-width: 20em;
@section-outer-width-narrow: 15em;
@section-inner-width: @section-outer-width - (@section-padding-sides * 2);
@section-inner-width-narrow: @section-outer-width-narrow - (@section-padding-sides * 2);











